* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* 
    body
*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    color: #E0E0E0;
    height: 100vh;
    width: 100%;
}

/* 
    MAIN CONTAINER
*/

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 90%;
    width: 1300px;
    background-color: #1E1E1E;
    border: 1px solid #1E90FF;
}

/* 
    LEFT SIDEBAR
*/

.left-sidebar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 280px;
    background-color: #1E1E1E;
    border-right: 1px solid #1E90FF;
}

.left-sidebar-container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #1E1E1E;
}

.left-sidebar-container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 430px;
    background-color: #1E1E1E;
}

.left-sidebar-container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 160px;
    background-color: #1E1E1E;
}

.left-sidebar-container-header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 80px;
    background-color: #1E1E1E;
}

.left-sidebar-container-header-logo img {
    width: 90px;
    height: 90px;
    font-size: 20px;
}

.left-sidebar-container-content-messages {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}

.left-sidebar-container-content-groups {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #1E90FF;
}

.left-sidebar-container-content-friends {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60px;
    background-color: #1E90FF;
}

.left-sidebar-container-footer-fodder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #1E1E1E;
}

.left-sidebar-container-footer-logout {
    display: flex;    
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #DC3545;
}

/* 
    left sidebar-buttons
*/

button {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    width: 40%;
    border-radius: 20px;
    color: white;
    background-color: #1E1E1E;
    
}

button:hover {
    background-color: beige;
    color: black;
}

/* 
    middle screen
*/

.middle-screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 734px;
    background-color: #1E1E1E;
}

.middle-screen-container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 7%;
    border-radius: 20px;
    height: 70px;
    width: 700px;
    background-color: #1E1E1E;
    border: 1px solid #1E90FF;
}

.middle-screen-child-folder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 50px;
    background-color: #1E1E1E;
    border: 1px solid #1E90FF;
}

.middle-screen-child-text-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 550px;
    background-color: #1E1E1E;
    border: 1px solid #1E90FF;
}

.middle-screen-child-emoji {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 50px;
    background-color: #1E1E1E;
    border: 1px solid #1E90FF;
}

.middle-screen-container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    background-color: #1E1E1E;
}

/* 
    right sidebar
*/

.right-sidebar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 280px;
    background-color: #1E1E1E;
    border-left: 1px solid #1E90FF;
}

.right-sidebar-container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #1E90FF;
}

.right-sidebar-container-header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #1E10ff;
}

.right-sidebar-container-content-first {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: teal;
}

.right-sidebar-container-content-people {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #1E90FF;
}

.right-sidebar-container-fodder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #1E1E1E;
}

@media screen and (max-width: 1300px) {
    .main-container {
        width: 100%;
    }
    .left-sidebar-container {
        width: 50%;
    }
    .middle-screen-container {
        width: 100%;
    }

    .right-sidebar-container {
        width: 50%;
    }

    .left-sidebar-container-footer-fodder {
        height: 10px;
        width: 10px;
        background-color: #1E1E1E;
    }

    .middle-screen-container-footer {
        width: 50%;
        height: 100px;
    }

    .middle-screen-container-content {
        height: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .left-sidebar-container-content-messages {
        height: 30px;
    }
    .left-sidebar-container-content-groups {
        height: 30px;
    }
    .left-sidebar-container-content-friends {
        height: 30px;
    }
}

@media screen and (max-width: 600px) {
    .left-sidebar-container-header-logo {
        width: 100%;
    }
}