<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}" >
    <script src="https://kit.fontawesome.com/99567c6e36.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main-container">
        <div class="left-sidebar-container">
            <div class="left-sidebar-container-header">
                <div class="left-sidebar-container-header-logo">
                    <img src="/static/images/logo.png" alt="Logo">
                </div>
            </div>
            <div class="left-sidebar-container-content">
                <div class="left-sidebar-container-content-messages">
                    <button class="messages"><i class="fa-solid fa-envelope"></i>Messages</button>
                </div>
                <div class="left-sidebar-container-content-groups">
                    <button>Groups</button>
                </div>
                <div class="left-sidebar-container-content-friends">
                    <button>Friends</button>
                </div>
            </div>
            <div class="left-sidebar-container-footer">
                <div class="left-sidebar-container-footer-fodder">

                </div>
                <div class="left-sidebar-container-footer-logout">

                </div>
            </div>
        </div>
        <div class="middle-screen-container">
            <div class="middle-screen-container-content">

            </div>
            <div class="middle-screen-container-footer">
                <div class="middle-screen-child-folder">

                </div>
                <div class="middle-screen-child-text-area">

                </div>
                <div class="middle-screen-child-emoji">

                </div>
            </div>        
        </div>
        <div class="right-sidebar-container">
            <div class="right-sidebar-container-header">

            </div>
            <div class="right-sidebar-container-header-content">

            </div>
            <div class="right-sidebar-container-content-first">

            </div>
            <div class="right-sidebar-container-content-people">

            </div>
            <div class="right-sidebar-container-fodder">

            </div>
        </div>
    </div>
</body>
</html>