<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}" >
    <script src="https://kit.fontawesome.com/99567c6e36.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main-container">
        <div class="left-sidebar-container">
            <div class="left-sidebar-container-header">
                <div class="left-sidebar-container-header-logo">
                    <img src="/static/images/logo.png" alt="Logo">
                </div>
            </div>
            <div class="left-sidebar-container-content">
                <div class="left-sidebar-container-content-messages">
                    <button class="messages"><i class="fa-solid fa-envelope"></i>Messages</button>
                </div>
                <div class="left-sidebar-container-content-groups">
                    <button class="groups"><i class="fa-solid fa-people-group"></i>Groups</button>
                </div>
                <div class="left-sidebar-container-content-friends">
                    <button class="Friends"><i class="fa-solid fa-star"></i>Friends</button>
                </div>
            </div>
            <div class="left-sidebar-container-footer">
                <div class="left-sidebar-container-footer-fodder">

                </div>
                <div class="left-sidebar-container-footer-logout">
                    <div class="left-sidebar-container-footer-logout-profile">
                        <i class="fa-solid fa-circle-user"></i>
                    </div>
                    <div class="left-sidebar-container-footer-logout-name">

                    </div>
                </div>
            </div>
        </div>
        <div class="middle-screen-container">
            <div class="middle-screen-container-content">

            </div>
            <div class="middle-screen-container-footer">
                <div class="middle-screen-child-folder">

                </div>
                <div class="middle-screen-child-text-area">

                </div>
                <div class="middle-screen-child-emoji">

                </div>
            </div>        
        </div>
        <div class="right-sidebar-container">
            <div class="right-sidebar-container-header">
                <h2>messages</h2>
            </div>
            <div class="right-sidebar-container-header-content">
                <div class="right-sidebar-container-header-content-first">
                    <div class="right-sidebar-container-header-content-first-profile">
                        <i class="fa-solid fa-circle-user"></i>
                    </div>
                    <div class="right-sidebar-container-header-content-first-name">
                        <h5>ezra</h5>
                    </div>
                </div>
                <div class="right-sidebar-container-header-content-second">
                    <div class="right-sidebar-container-header-content-second-profile">
                        <i class="fa-solid fa-circle-user"></i>
                    </div>
                    <div class="right-sidebar-container-header-content-second-name">
                        <h5>alex</h5>
                    </div>
                </div>
                <div class="right-sidebar-container-header-content-third">
                    <div class="right-sidebar-container-header-content-third-profile">
                        <i class="fa-solid fa-circle-user"></i>
                    </div>
                    <div class="right-sidebar-container-header-content-third-name">
                        <h5>dominik</h5>
                    </div>
                </div>
            </div>
            <div class="right-sidebar-container-content-first">
                <i class="fa-solid fa-comment"></i><h3>all chats</h3>
            </div>
            <div class="right-sidebar-container-content-people">
                <div class="right-sidebar-container-content-people-first">
                    <div class="right-sidebar-container-content-people-first-profile">
                        <i class="fa-solid fa-circle-user"></i>
                    </div>
                    <div class="right-sidebar-container-content-people-first-name">
                        <h3>alex jonker</h3>
                    </div>
                </div>
                <div class="right-sidebar-container-content-people-second">
                    <div class="right-sidebar-container-content-people-second-profile">
                        <i class="fa-solid fa-circle-user"></i>
                    </div>
                    <div class="right-sidebar-container-content-people-second-name">
                        <h3>natas little</h3>
                    </div>
                </div>
                <div class="right-sidebar-container-content-people-third">
                    <div class="right-sidebar-container-content-people-third-profile">
                        <i class="fa-solid fa-circle-user"></i>
                    </div>
                    <div class="right-sidebar-container-content-people-third-name">
                        <h3>brent mannes</h3>
                    </div>
                </div>
            </div>
            <div class="right-sidebar-container-fodder">

            </div>
        </div>
    </div>
</body>
</html>