<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="main-container">
        <div class="left-sidebar-container">
            <div class="left-sidebar-container-header">
                <div class="left-sidebar-container-header-logo">
                    <img src="/static/images/logo.png" alt="Logo">
                </div>
            </div>
            <div class="left-sidebar-container-content">
                <div class="left-sidebar-container-content-messages">

                </div>
                <div class="left-sidebar-container-content-groups">

                </div>
                <div class="left-sidebar-container-content-friends">

                </div>
            </div>
            <div class="left-sidebar-container-footer">
                <div class="left-sidebar-container-footer-logout">

                </div>
            </div>
        </div>
        <div class="middle-screen-container">

        </div>
        <div class="right-sidebar-container">

        </div>
    </div>
</body>
</html>